/* tr {
    text-align: center;
    color: #0d0d0d;
}

td {
    width: 150px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: smaller;
} */


/* .heading{
    background-color: #ffffff;
    border: solid 1px black;
} */


/* table {
    margin-top: 100px;
    margin-left: 800px;
    box-shadow: 5px 5px 8px 3px black;
    border: 1px solid lightgrey;
    background: transparent;
    padding: 0ch;
} */

button {
    background-image: linear-gradient(white, black);
    background-image: inherit;
    background-color: hsl(252, 4%, 75%);
    height: 30px;
    width: 70px;
}

button:hover {
    color: #ffffff;
    opacity: 0.5;
}

body {
    background-image: url(../images/bg2.jpg);
    /* height: 100%; */
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: smaller;
}