body {
    /* background-color: bisque; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 10px;
}

.sidenav {
    border-top: solid 1px white;
    border-bottom: solid 1px white;
    text-decoration: none;
}

.side-navitem {
    border: none;
    background: inherit;
}

.cardhead {
    max-width: 350px;
}

.cardimage {
    width: 100px;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}


/* 
.fixed-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
} */

#menu {
    background: #333;
    color: #fff;
    position: fixed;
    left: 0;
    top: 30px;
    width: 100px;
    z-index: -1;
}

.card-header,
.card-body {
    background-color: inherit;
}