{% extends 'dashboard.html' %} {% load static %} {% block content %}
<h3 align="center">Subjects</h3>
<div class="row row-cols-1 row-cols-md-4 mt-5">
    <div class="col mb-4">
        <div class="card">
            <img src="{% static 'images/lessons.png' %}" class="card-img-top" alt="...">
            <div class="card-body mx-auto">
                <h6 align="center" class="card-title">ENGLISH</h6>
                <a class="btn btn-outline-primary btn-sm" href="lesson" role="button">Get Lessons</a>
            </div>
        </div>
    </div>
    <div class="col mb-4">
        <div class="card">
            <img src="{% static 'images/lessons.png' %}" class="card-img-top" alt="...">
            <div class="card-body mx-auto">
                <h6 align="center" class="card-title">MALAYALAM</h6>
                <a class="btn btn-outline-primary btn-sm" href="lesson" role="button">Get Lessons</a>
            </div>
        </div>
    </div>
    <div class="col mb-4">
        <div class="card">
            <img src="{% static 'images/lessons.png' %}" class="card-img-top" alt="...">
            <div class="card-body mx-auto">
                <h6 align="center" class="card-title">HINDI</h6>
                <a class="btn btn-outline-primary btn-sm" href="lesson" role="button">Get Lessons</a>
            </div>
        </div>
    </div>
    <div class="col mb-4">
        <div class="card">
            <img src="{% static 'images/lessons.png' %}" class="card-img-top" alt="...">
            <div class="card-body mx-auto">
                <h6 align="center" class="card-title">MATHS</h6>
                <a class="btn btn-outline-primary btn-sm" href="lesson" role="button">Get Lessons</a>
            </div>
        </div>
    </div>
    <div class="col mb-4">
        <div class="card">
            <img src="{% static 'images/lessons.png' %}" class="card-img-top" alt="...">
            <div class="card-body mx-auto">
                <h6 align="center" class="card-title">PHYSICS</h6>
                <a class="btn btn-outline-primary btn-sm" href="lesson" role="button">Get Lessons</a>
            </div>
        </div>
    </div>
    <div class="col mb-4">
        <div class="card">
            <img src="{% static 'images/lessons.png' %}" class="card-img-top" alt="...">
            <div class="card-body mx-auto">
                <h6 align="center" class="card-title">CHEMISTRY</h6>
                <a class="btn btn-outline-primary btn-sm" href="lesson" role="button">Get Lessons</a>
            </div>
        </div>
    </div>
    <div class="col mb-4">
        <div class="card">
            <img src="{% static 'images/lessons.png' %}" class="card-img-top" alt="...">
            <div class="card-body mx-auto">
                <h6 align="center" class="card-title">BIOLOGY</h6>
                <a class="btn btn-outline-primary btn-sm" href="lesson" role="button">Get Lessons</a>
            </div>
        </div>
    </div>
    <div class="col mb-4">
        <div class="card">
            <img src="{% static 'images/lessons.png' %}" class="card-img-top" alt="...">
            <div class="card-body mx-auto">
                <h6 align="center" class="card-title">SOCIAL</h6>
                <a class="btn btn-outline-primary btn-sm" href="lesson" role="button">Get Lessons</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}