{% load static %}

<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Welcome</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
            <a class="navbar-brand" href="#">
                <img src="{% static 'images/icon.png' %}" width="150" height="60" class="d-inline-block align-top" alt="">
            </a>

            <div class="ml-auto">
                <form class="form-inline mr-auto">
                    <div>
                        <a class="nav-link mr-sm-2" href="profile">
                            <img src="{% static 'images/profile1.png' %}" alt="" width="40px" height="40px">
                        </a>
                    </div>
                    <div>
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">
                            <img src="{% static 'images/search2.png' %}" alt="" width="40px" height="40px">

                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink1">
                                <input class="form-control dropdown-item" type="search" placeholder="Search" aria-label="Search">
                            </div>
                        </a>
                    </div>
                </form>
            </div>
        </nav>
    </header>
    <div class="container-fluid">

        <div class="row">
            <div class="col-lg-3">
                <nav class="navbar navbar-expand-lg ">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo04" aria-controls="navbarTogglerDemo04" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                    <div class="collapse navbar-collapse " id="navbarTogglerDemo04">
                        <ul class="nav nav-pills">
                            <li class="nav-link" id="homepage">
                                <a class="list-group-item list-group-item-action side-navitem" href="homepage">Home</a></li>
                            <li class="nav-link">
                                <a class="list-group-item list-group-item-action side-navitem" href="curriculam">Curriculam</a></li>
                            <li class="nav-link">
                                <a class="list-group-item list-group-item-action side-navitem" href="activities">Activities</a></li>
                            <li class="nav-link">
                                <a class="list-group-item list-group-item-action side-navitem" href="report">Progress Report</a></li>
                            <li class="nav-link">
                                <a class="list-group-item list-group-item-action side-navitem" href="attendance">Attendance</a></li>
                            <li class="nav-link">
                                <a class="list-group-item list-group-item-action side-navitem" href="faculty">Meet the Faculties</a></li>
                            <li class="nav-link">
                                <a class="list-group-item list-group-item-action side-navitem" href="events">Upcoming Events</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
            <div class="col-lg-7">
                {% block content %} {% endblock %}
            </div>
            <div class="col-lg-2">

            </div>
        </div>
    </div>
    <footer>


    </footer>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
    -->

    <script>
        // $('#homepage').mouseenter(function() {
        //     $('#homepage').addClass('active');

        // })
        // $('#homepage').mouseleave(function() {
        //     $('#homepage').removeClass('active');
        // })
    </script>


</body>

</html>